@font-face {
  font-family: "optima";
  src: url("../font/unicode.optima.ttf"); }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 75%; } }

.investments {
  background: url(../img/helped.png) no-repeat center center;
  background-size: cover; }

header .main__header-auth-loginsbtns a:first-of-type {
  border-right: 1px solid;
  padding-right: .5rem;
  color: #008795;
  text-decoration: none; }

header .main__header-auth-loginsbtns a:last-child {
  padding-left: .5rem;
  color: #008795;
  text-decoration: none; }

header .main__header-auth-langbtns a:nth-of-type(1) {
  padding: .2rem .3rem;
  background-color: #008795;
  color: #FFF;
  border-radius: 50%; }

header .main__header-auth-langbtns a:nth-of-type(2) {
  border-right: 1px solid #8d8d8d;
  padding-right: .5rem;
  color: #008795; }

header .main__header-auth-langbtns a:nth-of-type(3) {
  padding-left: .5rem;
  font-size: 1.5rem;
  color: #008795; }

header .main__header-auth-langbtns a:nth-of-type(4) {
  color: #008795; }

header .introduction .carousel-item button:first-of-type {
  background: transparent !important;
  border: 1px solid #FFF; }

header .introduction .carousel-item button:last-child {
  background: #8dc043;
  border: 1px solid #8dc043; }

header .introduction__carousel-caption--h2 {
  font-size: 1.6rem;
  font-family: optima; }

header .introduction__carousel-caption--span {
  color: #c2f83f;
  font-size: 1.8rem; }

header .introduction__carousel-caption--span-2 {
  font-size: 1.8rem; }

main .helped {
  font-family: optima; }
  main .helped__title h3 {
    color: #008795; }
  main .helped__title p {
    color: #61aeb9; }
  main .helped-carusal .slick-caption {
    color: #FFF; }
    main .helped-carusal .slick-caption p:nth-of-type(1) {
      font-size: 3rem;
      font-weight: bold; }
    main .helped-carusal .slick-caption p:nth-of-type(2) {
      font-size: 1.5rem; }
    main .helped-carusal .slick-caption p:nth-of-type(3) {
      font-size: 1.2rem; }

main .investments {
  background: url(../img/investments.png) no-repeat center center;
  background-size: cover;
  height: 90vh;
  font-family: optima; }
  main .investments__title h3 {
    font-size: 2.5rem;
    color: #FFF; }
  main .investments__title p {
    font-size: 1.8rem;
    color: #FFF; }
  main .investments__rectangles {
    display: inline-block;
    transform: rotate(-40deg);
    top: 0;
    left: 25%; }
    main .investments__rectangles-rotatereverse {
      transform: rotate(40deg); }
    main .investments__rectangles-box {
      width: 140px;
      height: 140px;
      color: #FFF;
      border: 2px solid #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .5rem; }
      main .investments__rectangles-box:hover {
        background-color: #008795;
        border: 2px solid #008795;
        cursor: pointer; }

main .releases {
  font-family: optima; }
  main .releases__titles h5 {
    color: #008795;
    font-size: 1.5rem; }
  main .releases__titles p {
    color: #008795;
    font-size: 1.7rem; }
  main .releases .render-cards .card .card-body h5:nth-of-type(1) {
    font-size: 2.5rem; }
  main .releases .render-cards .card .card-body h5:nth-of-type(2) {
    font-size: 2rem; }
  main .releases .render-cards .card .card-body .card-text {
    margin-top: 1rem; }
  main .releases .render-cards .card .readmore-btn {
    border: 1px solid #FFF;
    padding: .7rem 1rem;
    background: #a7a9ac; }
  main .releases .render-cards .card .card-text {
    height: 100px; }
  main .releases .render-cards .card:hover {
    background: #7cc242 !important;
    cursor: pointer; }
    main .releases .render-cards .card:hover .readmore-btn {
      background: transparent; }

footer {
  background-color: #DADADA; }
  footer h3 {
    font-size: 1.2rem;
    color: #4a4a4a;
    font-family: optima; }
  footer a {
    font-size: .9rem;
    color: #4a4a4a;
    display: block; }
    footer a:hover {
      text-decoration: none;
      color: #4a4a4a;
      opacity: .8; }

.copywrite {
  background-color: #248E92; }
  .copywrite .list-inline-item:not(:last-child) {
    border-right: 1px solid #FFF;
    padding-right: .5rem; }

.navbar-light .navbar-nav .nav-link {
  color: #008795 !important;
  font-family: optima; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 100px;
  height: 100px; }

.carousel-caption {
  bottom: 5rem; }

.bg-blue {
  background-color: #61aeb9;
  color: #FFF; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 130px;
  height: 150px; }

.carousel-control-prev-icon {
  background-image: url(https://i.ibb.co/pvgTS93/nextarrow.png);
  transform: rotate(180deg); }

.carousel-control-next-icon {
  background-image: url(https://i.ibb.co/pvgTS93/nextarrow.png); }

.card {
  border-radius: unset; }

.card-deck .card {
  margin-right: unset;
  margin-left: unset; }

.slick-prev, .slick-next {
  background-color: grey; }

.slide {
  position: relative; }

.slick-caption {
  position: absolute;
  top: 28%;
  left: 1%; }

@media (max-width: 768px) {
  main .investments {
    height: 100%; }
  main .investments__rectangles {
    display: block;
    transform: unset; }
  main .investments__rectangles-box {
    margin: 4rem auto;
    transform: rotate(-40deg); }
  main .releases .render-cards .card .card-text {
    height: unset; }
  .carousel-item img {
    height: 230px; } }
